
/* Form */
.form-div {
    background-image: url("https://i.redd.it/ra6dwrgej7231.jpg");
    background-size:100%;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
/* Signup Page */
.form-container {
    background-color: white;
    border-style: solid;
    border-width: 2px;
    padding: 20px 20px 20px 20px;
}

/* Login Page */
.modal-title {
    justify-content: center;
    color: grey;
}

.btn-back {
    padding: 5rem 1.5rem;
    font-size: 1.5rem;
}

/* Chat Box */
.chatbox-container {
    border-style: solid;
    border-width: 1px;
    margin-top: 20px;
}

/* Chat SideBar */
.rce-citem-avatar {
    padding: 0 15px 0 0 !important;
}